<ul>
  <li><%= link_to "Events", events_portfolio_path %></li>
</ul>


  <h1 class="portTitles">Capital Hotel</h1>
  <div class="ui grid container" id="portslideshow">
    <div class="portshow" class="ten wide column">
      <div>
        <%= image_tag("capital_reception.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Conference Room</h3> -->
      </div>
      <div>
        <%= image_tag("capital_reception2.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Dinning Area</h3> -->
      </div>
      <div>
        <%= image_tag("capital_reception3.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Diplomat Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("capital_lobby.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Arrival</h3> -->
      </div>
      <div>
        <%= image_tag("capital_lobby2.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Lobby</h3> -->
      </div>
      <div>
        <%= image_tag("capital_lobby3.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Lobby</h3> -->
      </div>
      <div>
        <%= image_tag("capital_garden.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Lobby at Night</h3> -->
      </div>
      <div>
        <%= image_tag("capital_vip_bar.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>President Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("SALON_2.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>President Salon</h3> -->
      </div>
      <div>
        <%= image_tag("capital_9thfloorlounge.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Presidential Lounge</h3> -->
      </div>
  </div>


  <div class="six wide column">
    <p class="file"><%= link_to "○ Ethiopian Airlines: Cloud 9", vip_path %></p>

    <p class="file"><%= link_to "○ Capital Hotel", capital_path %></p>

    <p class="file"><%= link_to "○ Access Real Estate", access_path %></p>

    <p class="file"><%= link_to "○ Nexus International Hotel", nexus_path %></p>

    <p class="file"><%= link_to "○ Residential Home", residential_path %></p>
  </div>
</div>
