
<div class="carousel">

	<div class="prevLeftSecond">
		<%= image_tag("outdoorEvent.jpg", :width => "275", :height => "200") %>
	</div>


	<div class="prevLeftSecond">
		<%= image_tag("2.jpg", :width => "275", :height => "200") %>
	</div>

	<div class="prev">
		<%= image_tag("WELCOMING.jpg", :width => "275", :height => "200") %>
	</div>

	<div class="selected">
		<%= image_tag("ADVERTISING.jpg", :width => "275", :height => "200") %>
	</div>

</div>


<div class="carousel">
	<p id="eventtxt">At Baroque we are known for our innovative, distinctive and memorable events for cultural,
	corporate and technology clients worldwide. Our foremost objective is to provide professional
	consultation and management services in the planning, production and organization of events and
	meetings of any structure or size. We believe in creating unique moments that inspire.
	What makes us different?
	We listen to you. Then we design and create distinctive events based on your specific needs and desires.</p>
</div>

<div class="carousel">

	<div class="prev">
	 <%= image_tag("seminar.jpg", :width => "275", :height => "200") %>
 </div>

	<div class="nextRightSecond">
		<%= image_tag("lunchseminar.jpg", :width => "275", :height => "200") %>
	</div>

	<div class="hideLeft">
		<%= image_tag("miceevent.jpg", :width => "275", :height => "200") %>
 </div>

 <div class="hideRight">
	 <%= image_tag("mice.jpg", :width => "275", :height => "200") %>
 </div>

</div>
