
<!-- random quote generator  -->
<blockquote id="qod-quote" class="qod-author">
   <p class="qod-author">
    <a href="http://quotesondesign.com/?p=194"> &mdash; </a>
   </p>
</blockquote>
<!-- carasoul  -->
  <div id="homeSlideshow">
    <div id="slideshow">
      <div>
        <%= image_tag("ARRIVAL.jpg", :alt => "Presidential Arrival", :class => "slideimgs") %>
      </div>
      <div>
        <%= image_tag("DipLounge.jpg", :alt => "Diplomat Lounge", :class => "slideimgs") %>
      </div>
      <div>
        <%= image_tag("002.jpg", :alt => "Capitol Lobby", :class => "slideimgs") %>
      </div>
      <div>
        <%= image_tag("FORSNANDELlobby.jpg", :alt => "Forsnandel Lobby", :class => "slideimgs") %>
      </div>
      <div>
        <%= image_tag("PACIFIC3.jpg", :alt => "Pacifc Meeting Room", :class => "slideimgs") %>
      </div>
      <div>
        <%= image_tag("workstation.JPG", :alt => "Workstation", :class => "slideimgs") %>
      </div>
      <div>
        <%= image_tag("fountain.jpg", :alt => "Fountain", :class => "slideimgs") %>
      </div>
    </div>
</div>
