<ul>
  <li><%= link_to "Events", events_portfolio_path %></li>
</ul>

<div class="container1">
  <%= link_to image_tag("ARRIVAL.jpg", :alt => "VIP", :class => "image"), vip_path %>
  <div class="middle">
    <div class="text"><%= link_to "Ethiopian Airlines VIP Terminal", vip_path %></div>
  </div>
</div>

<div class="container1">
  <%= link_to image_tag("restorant_entrance.jpg", :alt => "Capital Hotel", :class => "image"), capital_path %>
  <div class="middle">
    <div class="text"><%= link_to "Capital Hotel", capital_path %></div>
  </div>
</div>

<div class="container1">
  <%= link_to image_tag("DSC_0060.jpg", :alt => "Access", :class => "image"), access_path %>
  <div class="middle">
    <div class="text"><%= link_to "Access Real Estate", access_path %></div>
  </div>
</div>


<div class="container1">
  <%= link_to image_tag("NexusBldg.jpg", :alt => "Nexus", :class => "image"), nexus_path %>
  <div class="middle">
    <div class="text"><%= link_to "Nexus International Hotel", nexus_path %></div>
  </div>
</div>

<div class="container1">
  <%= link_to image_tag("LIVING_ROOM4.jpg", :alt => "Residential", :class => "image"), residential_path %>
  <div class="middle">
    <div class="text"><%= link_to "Residential Home", residential_path %></div>
  </div>
</div>
