
<div class="wrapper">

  <%= image_tag("ARRIVAL.jpg", :alt => "VIP", :class => "linkimgs") %>
  <div class="desc"> <%= link_to "Ethiopian Airlines VIP Terminal", vip_path %></div>

  <%= image_tag("DSC_0060.jpg", :alt => "Access", :class => "linkimgs") %>
  <div class="desc"> <%= link_to "Access Real Estate", access_path %></div>

</div>

<div class="wrapper">

  <%= image_tag("LIVING_ROOM4.jpg", :alt => "Residential", :class => "linkimgs") %>
  <div class="desc"> <%= link_to "Residential Home", residential_path %></div>


  <%= image_tag("restorant_entrance.jpg", :alt => "Capital Hotel", :class => "linkimgs") %>
  <div class="desc"> <%= link_to "Capital Hotel", capital_path %></div>

</div>
