<ul>
  <li><%= link_to "Events", events_portfolio_path %></li>
</ul>

  <h1 class="portTitles">Residential Home</h1>

<div class="ui grid container" id="portslideshow">
    <div class="portshow" class="ten wide column">
      <div>
        <%= image_tag("LIVING_ROOM.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Conference Room</h3> -->
      </div>
      <div>
        <%= image_tag("LIVING_ROOM2.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Dinning Area</h3> -->
      </div>
      <div>
        <%= image_tag("LIVING_ROOM3.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Diplomat Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("A.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Arrival</h3> -->
      </div>
      <div>
        <%= image_tag("B.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Lobby</h3> -->
      </div>
      <div>
        <%= image_tag("C.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Lobby</h3> -->
      </div>
      <div>
        <%= image_tag("D.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>Lobby at Night</h3> -->
      </div>
      <div>
        <%= image_tag("E.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>President Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("F.jpg", :alt => "Residential", :class => "portimgs") %>
        <!-- <h3>President Salon</h3> -->
      </div>
  </div>


  <div class="six wide column">
    <p class="file"><%= link_to "○ Ethiopian Airlines: Cloud 9", vip_path %></p>

    <p class="file"><%= link_to "○ Capital Hotel", capital_path %></p>

    <p class="file"><%= link_to "○ Access Real Estate", access_path %></p>

    <p class="file"><%= link_to "○ Nexus International Hotel", nexus_path %></p>

    <p class="file"><%= link_to "○ Residential Home", residential_path %></p>
  </div>
</div>
