<div class="container">
  <h1>Ethiopian Airlines VIP Terminal</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <%= image_tag("confernceroom.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <!-- <h3>Conference Room</h3> -->
        <!-- </div> -->
        <h3>Conference Room</h3>
      </div>

      <div class="item">
        <%= image_tag("dining.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Dinning Area</h3>
        </div> -->
        <h3>Dinning Area</h3>
      </div>

      <div class="item">
        <%= image_tag("Diplomatlounge.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Diplomat Lounge</h3>
        </div> -->
        <h3>Diplomat Lounge</h3>
      </div>

      <div class="item">
        <%= image_tag("ARRIVAL.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Arrival</h3>
        </div> -->
        <h3>Arrival</h3>
      </div>

      <div class="item">
        <%= image_tag("Lobby_A.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Lobby</h3>
        </div> -->
        <h3>Lobby</h3>
      </div>

      <div class="item">
        <%= image_tag("Lobby_02.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Lobby</h3>
        </div> -->
        <h3>Lobby</h3>
      </div>

      <div class="item">
        <%= image_tag("LOBBY_FINAL.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Lobby</h3>
        </div> -->
        <h3>Lobby</h3>
      </div>

      <div class="item">
        <%= image_tag("Lobby_Night.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Lobby at Night</h3>
        </div> -->
        <h3>Lobby at Night</h3>
      </div>

      <div class="item">
        <%= image_tag("PERSIDENT_LOUNGE.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>President Lounge</h3>
        </div> -->
        <h3>President Lounge</h3>
      </div>

      <div class="item">
        <%= image_tag("SALON_2.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>President Salon</h3>
        </div> -->
        <h3>President Salon</h3>
      </div>

      <div class="item">
        <%= image_tag("presidential_lounge_2.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Presidential Lounge</h3>
        </div> -->
        <h3>Presidential Lounge</h3>
      </div>

      <div class="item">
        <%= image_tag("lounge.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Presidential Lounge</h3>
        </div> -->
        <h3>Presidential Lounge</h3>
      </div>

      <div class="item">
        <%= image_tag("LOUNGE_BAR.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Presidential Lounge Bar</h3>
        </div> -->
        <h3>Presidential Lounge Bar</h3>
      </div>

      <div class="item">
        <%= image_tag("SALON_2.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>Presidential Salon</h3>
        </div> -->
        <h3>Presidential Salon</h3>
      </div>

      <div class="item">
        <%= image_tag("VIP_DINING_HALL.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>VIP Dinning Hall</h3>
        </div> -->
        <h3>VIP Dinning Hall</h3>
      </div>

      <div class="item">
        <%= image_tag("Vip_lounge_2.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>VIP Lounge</h3>
        </div> -->
        <h3>VIP Lounge</h3>
      </div>

      <div class="item">
        <%= image_tag("Vip_Lounge_3.jpg", :alt => "VIP") %>
        <!-- <div class="carousel-caption">
          <h3>VIP Lounge</h3>
        </div> -->
        <h3>VIP Lounge</h3>
      </div>

</div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
