<ul>
  <li><%= link_to "Events", events_portfolio_path %></li>
</ul>


<!-- <div class="container"> -->
  <h1 class="portTitles"> Ethiopian Airlines: Cloud 9, Gold Club and Shebamiles lounge</h1>

<div class="ui grid container" id="portslideshow">
    <div class="portshow" class="ten wide column">
      <div>
        <%= image_tag("confernceroom.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Conference Room</h3> -->
      </div>
      <div>
        <%= image_tag("dining.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Dinning Area</h3> -->
      </div>
      <div>
        <%= image_tag("Diplomatlounge.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Diplomat Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("ARRIVAL.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Arrival</h3> -->
      </div>
      <div>
        <%= image_tag("Lobby_A.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Lobby</h3> -->
      </div>
      <div>
        <%= image_tag("LOBBY_FINAL.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Lobby</h3> -->
      </div>
      <div>
        <%= image_tag("Lobby_Night.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Lobby at Night</h3> -->
      </div>
      <div>
        <%= image_tag("PERSIDENT_LOUNGE.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>President Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("SALON_2.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>President Salon</h3> -->
      </div>
      <div>
        <%= image_tag("presidential_lounge_2.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Presidential Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("lounge.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Presidential Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("LOUNGE_BAR.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Presidential Lounge Bar</h3> -->
      </div>
      <div>
        <%= image_tag("SALON_2.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>Presidential Salon</h3> -->
      </div>
      <div>
        <%= image_tag("VIP_DINING_HALL.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>VIP Dinning Hall</h3> -->
      </div>
      <div>
        <%= image_tag("Vip_lounge_2.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>VIP Lounge</h3> -->
      </div>
      <div>
        <%= image_tag("Vip_Lounge_3.jpg", :alt => "VIP", :class => "portimgs") %>
        <!-- <h3>VIP Lounge</h3> -->
        <!-- <h3>VIP Lounge</h3> -->
      </div>
  </div>


  <div class="six wide column">
    <p class="file"><%= link_to "○ Ethiopian Airlines: Cloud 9", vip_path %></p>

    <p class="file"><%= link_to "○ Capital Hotel", capital_path %></p>

    <p class="file"><%= link_to "○ Access Real Estate", access_path %></p>

    <p class="file"><%= link_to "○ Nexus International Hotel", nexus_path %></p>

    <p class="file"><%= link_to "○ Residential Home", residential_path %></p>
  </div>
</div>
